<div class="container">
  <%= render partial: "shared/artist_searchbar" %>
  <div class="row text-center">
    <div class="col-sm-5">
      <h1><%= link_to @artist.name, @artist.facebook_url %></h1>
      <%= link_to image_tag(@artist.thumb_url), @artist.facebook_url %>
    </div>
    <div class="col-sm-7">
      <%= render partial: "shared/artist_map" %>
    </div>
  </div>
  <table class="table">
    <thead>
      <th>Date</th>
      <th>Venue</th>
      <th>Location</th>
      <th>Tickets</th>
      <th>RSVP</th>
    </thead>
    <% @artist.shows.each do |show| %>
    <tr>
      <td><%= show.formatted_datetime %></td>
      <td><%= show.venue_name %></td>
      <td><%= show.formatted_location %></td>
      <td><%= link_to "Tickets", show.ticket_url %></td>
      <td><%= link_to "RSVP", show.facebook_rsvp_url %></td>
    </tr>
    <% end %>
  </table>
