<div class="hero-unit">
  <div class="container hero-container">
    <h1 class="text-center"><span>Who/Where</span></h1>
    <div class="form-inline search-form">
      <div class="col-sm-4 col-sm-offset-2">
        <%= form_tag('/artists', method:"get") do %>
        <%= text_field :artist, :artist, class:"form-control form-control-success", placeholder: "Artist Name" , required: true %>
        <%= submit_tag "FIND BY ARTIST", class:"btn btn-success" %>
        <% end %>
      </div>
      <div class="col-sm-4">
        <%= form_tag("/locations", method:"get") do %>
        <%= submit_tag "FIND BY LOCATION", class:"btn btn-success" %>
          <%= text_field :show, :location, class:"form-control form-control-success", placeholder:"City, State", required: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>
